.uploadStatus-ceil {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 1px solid #666;
    color: #1890ff;
    height: 25px;
}

.fail {
    color: #ff4d4f;
}

.success {
    background-color: #52c41a;
}