.side {
  height: 100vh;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

 .trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(0, 0, 0, 0.65);
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-layout .site-layout-background {
  background: #fff;
}